@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
#section-1 .row{
  background: none;
}
.stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 30s linear infinite;
  -ms-animation: move-background 30s linear infinite;
  -o-animation: move-background 30s linear infinite;
  -webkit-animation: move-background 30s linear infinite;
  animation: move-background 30s linear infinite;
}
body {
  margin: 0px;
  background: #333;
}
.section {
  display: flex;
  width: 100%;
}
.section {
  padding: 20px 0;
}
section {
  display: flex;
}
header .section {
  padding: 0px;
}
main .row,
footer .row {
  padding: 40px;
}
header .row {
  padding: 20px 40px;
}
.row {
  display: flex;
  max-width: 1400px;
  margin: auto;
  width: 90%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  box-sizing: border-box;
  backdrop-filter: blur(15px);
}
.col {
  display: flex;
}
.v-center {
  align-items: center;
}
.h-center {
  justify-content: center;
}
.direction-col {
  flex-direction: column;
}
.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}
.col-4 {
  width: 40%;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7 {
  width: 70%;
}
.col-8 {
  width: 80%;
}
.col-9 {
  width: 90%;
}
.col-10 {
  width: 100%;
}
p,
li,
span,
div,
textarea,
input {
  font-family: Space Grotesk;
  color: #ffffff;
  line-height: 2em;
  font-weight: 300;
  font-size: 16px;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.7);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.7);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.7);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Fira Code;
}
header {
  padding: 20px 0px;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(2px);
}
.menu-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
ul#main-menu {
  display: flex;
  list-style-type: none;
  padding: 0px;
}
.logo-container img {
  width: 100px;
}
ul#main-menu li:not(:last-child) {
  margin-right: 40px;
}
ul#main-menu li > a {
  position: relative;
  font-family: Space Grotesk;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  transition: 3s all;
  padding: 5px;
  font-weight: 300;
}

ul#main-menu li > a:before {
  content: "";
  width: 100%;
  max-width: 0px;
  bottom: 0px;
  transition: all 300ms;
  left: 0;
  background: linear-gradient(to right, #258dce, #f21d24);
  position: absolute;
  height: 2px;
}
ul#main-menu li > a:hover:before,
ul#main-menu li > a.active:before {
  max-width: 100%;
}

h1 {
  color: #ffffff;
  font-size: 46px;
  font-weight: 600;
  line-height: 1.5em;
}

.web-dev-lottie {
  border: 0;
  width: 100%;
  height: 500px;
}

.typewriter {
  opacity: 0;
}

#section-1 h1 {
  max-width: 700px;
  font-weight: 700;
  margin: 0;
  font-size: 52px;
}
#section-1 h2{
  line-height: 1.3em;
  margin: 0;
  font-weight: 300;
  font-size: 36px;
}

.footer-logo {
  width: 100px;
  object-fit: contain;
}

.copyright-text {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #333;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.3);
}

.footer-company-info {
  max-width: 405px;
  text-align: justify;
}

ul.sitemap {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

footer input,
footer textarea {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form > *:not(:first-child) {
  margin-top: 10px;
}

.contact-form input[type="submit"] {
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms;
}
.contact-form input[type="submit"]:hover {
  background-color: #ffffff;
  color: #000000;
}
/* footer {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
} */
footer textarea {
  resize: none;
  height: 6.8em;
}

h2.start-tag {
  font-size: 32px;
  font-weight: 300;
  /* background: linear-gradient(to right, #258dce, #f21d24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-sizing: border-box; */
}
span.end-tag {
  margin-top: 20px;
  display: block;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  font-family: Fira Code;
}
#services {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}
div#services > .service-item:not(:last-child) {
  margin-right: 2%;
}

div#services > .service-item {
  padding: 40px;
  width: 32%;
  display: flex;
  flex-direction: column;
  border: 1px solid #2385c8;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

div#services > .service-item:hover img {
  filter: brightness(0) invert(1);
}

div#services > .service-item img {
  width: 75px;
  height: 75px;
  transition: 300ms all;
  object-fit: contain;
  margin-bottom: 15px;
}
span.service-title {
  font-family: "Fira Code";
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.3em;
}
.service-content {
  font-weight: 400;
  text-align: center;
}

.service-item:before {
  content: "";
  width: 1000px;
  position: absolute;
  height: 1000px;
  top: 100%;
  left: calc(50% - 500px);
  background: #2385c8;
  z-index: -1;
  border-radius: 100%;
  transition: 300ms all;
}
.service-item:hover:before {
  /* left: -350px; */
  top: -100%;
}
.btn-container {
  display: flex;
  padding: 10px;
}

a.learn-more:hover {
  /* background: linear-gradient(to right, #258dce, #f21d24); */
  box-sizing: content-box;
  border-style: solid;
  border-image: linear-gradient(to right, #258dce, #f21d24);
  border-image-slice: 1;
}
a.learn-more {
  color: #ffffff;
  text-decoration: none;
  border-image: linear-gradient(to right, #ffffff, #ffffff);
  /* border: 2px solid #ffffff; */
  border-style: solid;
  border-image-slice: 1;
  padding: 5px 30px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 500ms all;
  margin-top: 20px;
}

.process-item.card-box:not(:nth-child(3n + 3)) {
  margin-right: 2%;
}

div#process {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

div#process > .process-item {
  padding: 40px;
  width: 32%;
  display: flex;
  flex-direction: column;
  border: 1px solid #f21d24;
  box-sizing: border-box;
  align-items: flex-start;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
div#process > .process-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 15px;
}

.process-item.card-box:not(:nth-child(3n + 3)) {
  margin-right: 2%;
}

.process-item.card-box:nth-child(n + 4) {
  margin-top: 2%;
}

span.process-title {
  font-family: "Fira Code";
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

span.inner-end-tag {
  display: block;
  text-align: right;
  font-family: "Fira Code";
}
h3.inner-start-tag {
  font-size: 24px;
  font-weight: 300;
}
.about-content {
  text-align: justify;
}
.about-content img {
  display: block;
  margin: auto auto 30px;
  max-width: 180px;
}
.background-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 1);
  z-index: 3;
  opacity: 0.3;
}

#stars {
  position: fixed;
  top: 0;
  z-index: -1;
}
.stars-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 111, 111, 1);
  opacity: 0.4;
}

/* Glow bg */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gradient {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  --speed: 30s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(#02588e, #ac0006);
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}
/* body {
  background-color: #222;
  position: absolute;
  inset: 0;
  display: flex;
  place-content: center;
  align-items: center;
  overflow: hidden;
} */
/* This is just to transition when you change the viewport size. */
* {
  transition: all 0.25s ease-out;
}
